{% load widget_tweaks %}
{% load i18n %}

<form role="form" method="post" action="{% url "send_contactmail" %}" id="contactform">
{% csrf_token %}
{% for hidden in cform.hidden_fields %}
    {{ hidden }}
{% endfor %}
<div class="form-group">
	<div class="row form-group">
		<div class="col-lg-6">
			{{ cform.name.errors }}
            {% trans "Your name" as cname_placeholder %}
            {% with "placeholder:"|add:cname_placeholder|add:" *" as cname_placeholder %}
                {{ cform.name | add_class:"form-control" | attr:cname_placeholder | attr:"required" }}
            {% endwith %}
		</div>
		<div class="col-lg-6">
			{{ cform.sender.errors }}
            {% trans "Your email" as csender_placeholder %}
            {% with "placeholder:"|add:csender_placeholder|add:" *" as csender_placeholder %}
                {{ cform.sender | add_class:"form-control" | attr:csender_placeholder | attr:"required" }}
            {% endwith %}
        </div>
	</div>
</div>
<div class="form-group">
	{{ cform.sendersubject.errors }}
    {% trans "Subject" as csendersubject_placeholder %}
    {% with "placeholder:"|add:csendersubject_placeholder|add:" *" as csendersubject_placeholder %}
        {{ cform.sendersubject | add_class:"form-control" | attr:csendersubject_placeholder | attr:"required" }}
    {% endwith %}
</div>
<div class="form-group">
    {{ cform.content.errors }}
    {% trans "Message" as ccontent_placeholder %}
	{% with "placeholder:"|add:ccontent_placeholder|add:" *" as ccontent_placeholder %}
        {{ cform.content | add_class:"form-control" | attr:ccontent_placeholder | attr:"rows:8" | attr:"required" }}
    {% endwith %}
</div>
<button id="button-send" class="btn btn-block btn-primary">
	{% trans "And let's go!" %}
</button>
{% if success %}
  <div class="success">
      {% trans "Thank you! Your message was successfully sent." %}
  </div>
{% endif %}
</form>