{% load widget_tweaks %}
{% load i18n %}
<form role="form" method="post" action="{% url "set_wish_ordered" %}" id="wishorderform">
{% csrf_token %}
{% for hidden in wishOrderForm.hidden_fields %}
    {{ hidden }}
{% endfor %}
<p>Hinweis: Sobald Sie das "Schenken" bestätigt haben, verschwindet der Artikel von der Wunschliste.
Dem Brautpaar ist es nicht möglich nachzuvollziehen, wer geklickt hat!</p>
<input type="hidden" name="form_status" value="{{ wofsuc }}" />
<div class="form-group">
	<div class="row form-group">
		<div class="col-lg-6">
			{{ wishOrderForm.name.errors }}
            {% with "placeholder:"|add:"Dein Name"|add:" *" as cname_placeholder %}
                {{ wishOrderForm.name | add_class:"form-control" | attr:cname_placeholder | attr:"required" }}
            {% endwith %}
		</div>
		<div class="col-lg-6">
			{{ wishOrderForm.email.errors }}
            {% with "placeholder:"|add:"Deine E-Mail"|add:" *" as csender_placeholder %}
                {{ wishOrderForm.email | add_class:"form-control" | attr:csender_placeholder | attr:"required" }}
            {% endwith %}
        </div>
	</div>
</div>
<div class="form-group">
	{{ wishOrderForm.captcha.errors }}
    {{ wishOrderForm.captcha | add_class:"form-control" | attr:"required" }}
</div>
<button id="button-send" class="btn btn-block btn-success">
	Ja, ich bin mir sicher!
</button>
</form>